body{
  background: url(../images/bg-image.png);
  background-repeat: repeat-y;
  background-size: 101%;
  width: 100%;
}

header{
  background: #fff;
  width: 102%;
  margin-left: -8px;
  margin-top: -10px;
  height: 210px;
  box-shadow: 0px 6px 8px #888888;
}

#header-container{
  vertical-align: top;
}

#header-info{
  width:100%;
  height: 150px;
  margin-top: -30px;
}

#header-info ul{
  list-style: none;
  margin-bottom: 20px;
  overflow: hidden;
}

#header-info div{
  list-style: none;
  display: inline-block;
  top: 0px;
}

#logo{
  background: url(../images/ptmi-logo.png) no-repeat;
  width:30%;
  height: 80%;
  background-size: 80%;
  background-position: top center;
  margin-left: 30px;
  margin-top: -10px;
}

#contact-info{
  line-height: 12px;
  text-align: center;
  width: 45%;
  margin-top: 10px;
  margin-bottom: 10px;
}


#contact-info h2{
  color: #071596;
  font-size: 36px;
  font-family: 'Mr Dafoe';
}

#contact-info h3{
  color: #ce0606;
  font-size: 20px;
  font-family: 'Arial';
}

#contact-info h4{
  color: #071596;
  font-size: 16px;
  font-family: 'Arial';
  font-style: italic;
}

#contact-info a{
  text-decoration: none;
  color: #ce0606;
}

nav{
  text-align: center;
  font-family: 'Arial';
  font-size: 20px;
  font-weight: bold;
}

nav a{
  text-decoration: none;
  color: #071596;

}

nav a:visited{
  color: #071596;
}

#menu-wrap{
  margin:auto;
}

#menu{
  list-style: none;
}

#menu li{
  display: inline-block;
  float:left;
  margin-right: 70px;
  margin-left: 35px;
  margin-top: 10px;
}

#content-wrap{
  width:100%;
  margin-left: -30px;
}

.content{
  list-style: none;
  line-height: 14px;
  background: rgba(255, 255, 255, .6);
  width: 102%;
  padding: 10px;
  margin-top: 60px;
  margin-left: -18px;
  box-shadow: 0px 6px 8px #888888;
  font-family: 'Arial';
}


.content h1{
  font-size: 26px;
  color: #071596;
  font-style: italic;
  margin-bottom: 20px;
}

.content h2{
  font-size: 20px;
  color: #071596;
  margin-bottom: 20px;
}

.content p{
  font-size: 16px;
  font-style: bold;
  line-height: 20px;
}

.content-title{
  text-align: center;
}

.content-title h1{
  font-size: 26px; 

}

.content-text ul{
  list-style: none;
}

footer{
  background: #ccc;
  width: 100%;
  margin-left: -10px;
  padding: 5px 10px;

}